<div class="component-padding  back-component">
    <img src="logo colillas.svg" title="Colillas Brandindg" alt="colillas logo" />
    <h1 class="left-aligned-content">
        Lorem ipsum dolor sit amet consectetur. Elementum mauris
        tincidunt vitae ornare ultrices eget integer. Sagittis in
        ac fringilla sit.
    </h1>
    <h2>Lorem ipsum dolor sit amet</h2>

    <div class="left-aligned-content">
        <hr />
        <div class="flex-align">
            <p>
                Lorem ipsum dolor sit amet consectetur. Nibh vestibulum eleifend a et.
            </p>
            <a href="#"><img src="arrow.svg" alt="Descripción de la imagen" /></a>
        </div>
        <hr />
        <div class="flex-align">
            <p>
                Lorem ipsum dolor sit amet consectetur. Amet sed vitae urna egestas amet.
            </p>
            <a href="#"><img src="arrow.svg" alt="Descripción de la imagen" /></a>
        </div>
        <hr />
    </div>
</div>