.footer-style {
    background-color: #303536;
    color: white;
    font-family: 'DM Sans', sans-serif;
    padding-top:  40px;
    padding-bottom: 17px;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 30%;
    padding-top: 49px;
    padding-bottom: 49px;
}

.footer-faq {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 32px;
    font-size: 14px;
}

.footer-social {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer-social a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.footer-social a:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-faq {
        flex-wrap: wrap;
    }
}