<div class="footerStyle">

    <div class="footer-container">
        <div class="footer-location">
            <h2>
                Fountainebleau
            </h2>
            <p>
                Cummerata Trail, 33 <br>
                08012 Marianfort<br>
                (+34) 123 456 789<br>
                <br><br>
                info&#64;colillas.com
            </p>
        </div>

        <div class="footer-location">
            <h2>
                Daly City
            </h2>
            <p>
                N Front Street, 85<br>
                8895 Daly <br>
                (+34) 123 456 789<br>
                <br><br>
                hello&#64;colillas.com
            </p>
        </div>

    </div>

    <div class="footer-faq">
        <span>© 2024 All rights reserved.</span>
        <span>Privacy Policy</span>
        <span>Terms of Service</span>
        <span>Cookies Settings</span>
    </div>

</div>