.about-style{    
    background-color: #303536;
    color: #E7E5E4;
}
.about-flex {
    text-align: left;
    display:flex;
    gap: 40px;
}
.about-flex > div,
.about-flex > p {
    flex: 1; 
}

@media (max-width: 768px) {
    .about-flex {
        flex-direction: column;
        /*text-align: center;*/
        gap: 20px; 
    }
}

h1{
    font-size: 64px;
}
h2{
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
}
p{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}