<div class="component-padding reviews-style">
    <h1>Figma ipsum component variant main layer.</h1>
    <div style="margin-top: 50px;">
        <div class="star-container"><img src="star.svg"><img src="star.svg"><img src="star.svg"><img src="star.svg"><img
                src="star.svg"></div>


        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
            tristique.
            Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat."</p>
        <p style="line-height:20px;">
            <span class="name">Name, Surname</span><br>
            <span class="position">Position, Company name</span>
        </p>
    </div>
    <hr>
    <div class="logo-container">
        <img src="Company logo-1.svg" alt="Sisyphus">
        <img src="Company logo-2.svg" alt="Circooles">
        <img src="Company logo-3.svg" alt="Catalog">
        <img src="Company logo-4.svg" alt="Quotient">
    </div>
</div>